.register-col {
  text-align: center;
}
.login-page {
  background-color: #ffff;
  padding-left: 0;
  padding-right: 0;
}
.login-page-header {
  background-color: #00a7d0;
}
.login-form {
  padding-left: 2%;
  padding-right: 2%;
}
.login-page-row {
  margin: 0;
}
/* Register page */
.register-page {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.register-page-header {
  background-color: #00a7d0;
}
.register-form {
  padding-left: 1%;
  padding-right: 1%;
}
